# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\desenvolvimento\js\to-do-list-react\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
